@media all and (min-width: 480px) {
    .Schedule {
      padding: 60px 0;
    }
    .Schedule {
      margin: 0 auto;
      margin-top: 5%;
      width: 600px;
      padding: 40px 110px 60px 110px;
      background: white !important;
      border-radius: 10px;
    }
    h1 {
      text-align: center;
      padding-bottom: 40px;
    }
    .btn {
      margin-top: 30px;
    }
  }