#dropdownMenuPageSize {
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: fit-content;
}

.hiddenRow {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}