html {
    height: 100%;
}

body {
    background-image: url("./common/images/warehouse_main_background.png");
    background-blend-mode: luminosity;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}